name: ssl-cabundle
description: SSL certificate verification with rootCA

settings: 
  certificates:
    verify-ssl: true
    ssl-no-revoke: false

  meta:
    name: ssl-cabundle
    description: SSL certificate verification with rootCA
    source: manual
    version: 2024.10

ca-bundle: |
${ROOT_CA_CONTENT}